.head{
    background-color:#003344/*背景顏色*/;
    color:white/*字的顏色*/;
    font-weight:bold/*粗體字*/;
    font-size:25px/*字的大小*/;
    text-align:center/*置中*/;
    padding:15px/*字與邊框的距離*/;
}
.content{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.box{
    width:280px;
    padding:10px;
    margin:10px;
    background-color:white;
    display:inline-block;
    vertical-align:top;
    text-align:center;
    height:150px;
    line-height:30px;

}
.title{
    font-weight:bold;
}